<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Your Identification code :{{createuser.secrettoken}}</h3>
<h2>take a snapshot</h2>


</body>
</html>