<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Landing Page</title>
</head>
<body >
<!--<h1 id="showcase">-->
<!--Welcome To My Site-->
<!--</h1>-->
<!--<div id="content" class="container">-->
<!--Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus iusto voluptatibus illum a impedit at fuga aliquam, in fugiat! Iste tempora similique sint, fugiat amet quam odio repellat dolore mollitia praesentium soluta, perspiciatis enim repudiandae doloribus quis. Eaque porro vitae, quaerat dolor nihil eveniet illum impedit libero sit, tempore ab.-->
<!--</div>-->
<!--<a href="#" class="btn">Read More</a>-->

<header class="v-header container">
    <div class="fullscreen-video-wrap">

        <video src="/static/images/Typing_light_01_Videvo.mov" autoplay="" loop="">
        </video>
        <!--<img src="https://images.unsplash.com/photo-1506157786151-b8491531f063?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=20350f2b60dc7d7ac4b5e9526afacf77&auto=format&fit=crop&w=1050&q=80" alt="">-->
    </div>
    <div class="header-overlay"></div>
    <div class="header-content text-md-center">
        <h1>ImR- I am Registered </h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id temporibus perferendis necessitatibus numquam amet impedit explicabo? Debitis quasi ullam aperiam!</p>
        <a href="/signup" class="btn">Create Event</a><br>
        <a href="/login" class="btn">Already Event</a>
    </div>
</header>

</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<a href="/signup" >create an event </a><br/>-->
<!--<a href="/login">already an event</a>-->
<!--</body>-->
<!--</html>-->