<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/cretaeEvent.css">
</head>
<body style="padding-top: 8%;padding-bottom:34%;background-color: #3AAFA9">
<div class="container-fluid form">
    <div class="container-fluid" style="padding-left: 25%;padding-right: 25%">
        <div class="page-header" style="text-align: center">
            <h3><b>Login </b></h3>
        </div>
    </div>

    <div class="container" style="padding-left: 20%; padding-right: 20%" >

        <form method="post" action="/login">

            <div class="form-group">
                <label for="text">Email :</label>

                <input type="text" class="form-control" id="username" placeholder="username" name="username" required/>
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" required/>
            </div>


            <div style="text-align: center">
                <button>Submit</button>
                <!--<button type="submit" class="btn btn-default">Submit</button>-->
            </div>

        </form>
    </div>
</div>

</body>
</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Title</title>-->
<!--</head>-->
<!--<body>-->


        <!--<form class="login-form" method="post" action="/login">-->
            <!--<input type="text" placeholder="username"  name="username" required/>-->
            <!--<input type="password" placeholder="password" name="password" required/>-->
            <!--<button>login</button>-->
            <!--<p class="message">Not registered? <a href="#">Create an account</a></p>-->
        <!--</form>-->

<!--</body>-->
<!--</html>-->