<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body style="background-color:#3AAFA9 ">
<div class="container-fluid " style="padding-top: 15%;text-align: center;padding-left: 15%;padding-right: 15%">
    <div class="jumbotron" style="background-color: #2B7A77;">
        <span class="glyphicon glyphicon-ok-sign" style="font-size: 75px"></span>
        <p style="color: #FEFFFF">Entry Accepted</p>
    </div>
</div>
</body>
</html>